Libreria/__pycache__/wsgi.cpython-38.pyc
Libreria/__pycache__/urls.cpython-38.pyc
Libreria/__pycache__/settings.cpython-38.pyc
Libreria/__pycache__/__init__.cpython-38.pyc
appLibreria/__pycache__/__init__.cpython-38.pyc
appLibreria/__pycache__/admin.cpython-38.pyc
appLibreria/__pycache__/models.cpython-38.pyc
appLibreria/__pycache__/urls.cpython-38.pyc
appLibreria/__pycache__/views.cpython-38.pyc