{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block barraDer %}
<ul class="nav">
	<li><a href="/appLibreria/comics/">{% blocktrans %}Comics{% endblocktrans %}</a></li>
	<li><a class="selected" href="/appLibreria/autores/">{% blocktrans %}Autores{% endblocktrans %}</a></li>
	<li><a href="/appLibreria/colecciones/">{% blocktrans %}Colecciones{% endblocktrans %}</a></li>
	<li><a href="/appLibreria/tags/">{% blocktrans %}Categorias{% endblocktrans %}</a></li>
</ul>

<h1>{% blocktrans %}Autores Recomendados{% endblocktrans %}</h1>
<h3>{% blocktrans %}Actuales:{% endblocktrans %}</h3>
{% for autor in object_list %}
	{% if autor.anyoNacimiento >= 2000 %}
		<p class="recomendaciones"><a class="link-recomendacion" href="{{autor.get_absolute_url}}">{{ autor.nombre }}</a></p>
	{% endif %}
{% endfor %}

{% endblock barraDer %}

{% block contenido %}
	{% for autor in object_list %}
	<div class="espacio">
		<h1>{{ autor.nombre }}</h1>
		<h3></h3>
		<p><a href="{{autor.get_absolute_url}}"><img src="{% static 'img/autores/'|add:autor.nombre|add:'.png' %}" alt="{{ autor.nombre }}" class="responsive-img r_blog" /></a>Right under the navigation menu to the right you will see a heading called Recent Updates. If you hover over the news items a short summary will pop up and allow you to click to get to another page. You can use this as a link list giving people a short description of what your link is about. I learned the technique from Stu at <a href="http://www.cssplay.co.uk/">CSS Play</a>. The original demo was to display a small photo gallery this way but I adapted it for text.</p>
	</div>
	{% endfor %}

{% endblock contenido %}

{% block Numero %}
	<li><a>{% blocktrans %}Autores Totales {% endblocktrans %}{{object_list.count}}</a></li>
{% endblock Numero %}