{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;" />
	<meta charset="UTF-8">
	<title>Libreria piratilla :3</title>
	<link rel="stylesheet" href="{% static 'default.css' %}" />
</head>

<body>
<div id="container">
    {% block foto %}<!--Aquí iría la imagen correspondiente-->
    {% endblock foto %}

    {% block main %}<!--La idea es que esta sea la "cabezera", donde estará la info del modelo correspondiente-->
    {% endblock main %}
    
    <div id="content">
	{% block contenido %}<!--Y aquí la "lista" de todas las fotos de las colecciones, comics, páginas o lo que corresponda.-->

	{% endblock contenido %}
    </div>
	<div id="footer">
		<div class="footer_links">
		<ul>
			<li class="top_link">web design</li>
			<li><a>Anz</a></li>
			<li><a>Merteral</a></li>
			<li><a>Jon582</a></li>
			<li><a>Golox</a></li>
		</ul>
		</div>
	</div>
</div>

</body>
</html>
