{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;" />
	<meta charset="UTF-8">
	<title>Libreria piratilla :3</title>
	<link rel="stylesheet" href="{% static 'default.css' %}" />
</head>

<body>
<div id="container">
	<div id="rightside">
		<div id="title">
			<p>
				{% block foto %} <!--Aquí va la foto del objeto que estemos viendo (autor, comic o coleccion)-->
¡				{% endblock foto %}
			</p>
		</div>
		<div id="sidebar">
		{% block info %} <!--Aquí se pone la info de lo que corresponda-->
		{% endblock info %}
		{% block menu %}<!--Esto es el menú donde irán los links a las listas de los modelos, igual que en la página principal-->

		{% endblock menu %}

		</div>
	</div>

	<div id="content">
		{% block contenido %}
		{% endblock contenido %}
	</div>
</div>

</body>
</html>
