{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block barraDer %}
<ul class="nav">
	<li><a href="/appLibreria/comics/">{% blocktrans %}Comics{% endblocktrans %}</a></li>
	<li><a href="/appLibreria/autores/">{% blocktrans %}Autores{% endblocktrans %}</a></li>
	<li><a class="selected" href="/appLibreria/colecciones/">{% blocktrans %}Colecciones{% endblocktrans %}</a></li>
	<li><a href="/appLibreria/tags/">{% blocktrans %}Categorias{% endblocktrans %}</a></li>
</ul>

<h1>{% blocktrans %}Colecciones Recomendados{% endblocktrans %}</h1>
<h3>{% blocktrans %}Finalizadas:{% endblocktrans %}</h3>
{% for coleccion in object_list %}
	{% if coleccion.estado == 'FIN' %}
		<p class="recomendaciones"><a class="link-recomendacion" href="{{coleccion.get_absolute_url}}">{{ coleccion.nombreColeccion }}</a></p>
	{% endif %}
{% endfor %}

{% endblock barraDer %}

{% block contenido %}
	{% for coleccion in object_list %}
	<div class="espacio">
		<h1>{{ coleccion.nombreColeccion }}</h1>
		<h3 class="color-rosa">{% for autor in coleccion.autores.all %}{{ autor.nombre }}<br/>{% endfor %}</h3>
		<p><a href="{{coleccion.get_absolute_url}}"><img src="{% static 'img/colecciones/'|add:coleccion.nombreColeccion|add:'.png' %}" alt="{{ coleccion.nombreColeccion }}" class="responsive-img r_blog" /></a>Right under the navigation menu to the right you will see a heading called Recent Updates. If you hover over the news items a short summary will pop up and allow you to click to get to another page. You can use this as a link list giving people a short description of what your link is about. I learned the technique from Stu at <a href="http://www.cssplay.co.uk/">CSS Play</a>. The original demo was to display a small photo gallery this way but I adapted it for text.</p>
	</div>
	{% endfor %}
{% endblock contenido %}

{% block Numero %}
	<li><a>{% blocktrans %}Colecciones Totales {% endblocktrans %}{{object_list.count}}</a></li>
{% endblock Numero %}