{% extends "baseIndividual.html" %}
{% load static %}
<!--Bloques de la barra lateral:-->
{% block foto %} <!--Aquí va la foto del objeto que estemos viendo (autor, comic o coleccion)-->
{% endblock foto %}

{% block info %} <!--Aquí se pone la info de lo que corresponda-->
{% endblock info %}

{% block menu %}<!--Esto es el menú donde irán los links a las listas de los modelos, igual que en la página principal-->
{% endblock menu %}

{% block contenido %}<!--Lo de la "izquierda"-->
{% endblock contenido %}