{% load static %}
{% load i18n %}

<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html;" />
	<meta charset="UTF-8">
	<title>Libreria piratilla :3</title>
	<link rel="stylesheet" href="{% static 'css/default.css' %}" />
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/tags.js' %}"></script>
</head>

<body>
<div id="container">
	<div id="rightside">
		<div id="title">
		<p>CMD</p>
			<form action="{% url 'set_language' %}" method="post">
				{% csrf_token %}
				<input name="next" type="hidden" value="{{ redirect_to }}" />
				<select name="language">
				{% get_current_language as LANGUAGE_CODE %}
				{% get_available_languages as LANGUAGES %}
				{% for lang in LANGUAGES %}
				<option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ lang.1 }} ({{ lang.0 }})
				</option>
				{% endfor %}
				</select>
				<input type="submit" value="Go" />
			</form>

		
		</div>
		<div id="sidebar">
		{% block barraDer %}
			<ul class="nav">
				<li><a class="selected" href="/appLibreria/comics/">{% blocktrans %}Comics{% endblocktrans %}</a></li>
				<li><a href="/appLibreria/autores/">{% blocktrans %}Autores{% endblocktrans %}</a></li>
				<li><a href="/appLibreria/colecciones/">{% blocktrans %}Colecciones{% endblocktrans %}</a></li>
				<li><a href="/appLibreria/tags/">{% blocktrans %}Categorias{% endblocktrans %}</a></li>
			</ul>


			<h1>{% blocktrans %}Comics Recomendados{% endblocktrans %}</h1>
			<h3>{% blocktrans %}Lectura Ligeras:{% endblocktrans %}</h3>

			{% for comic in object_list %}
				{% if comic.numPaginas <= 10 %}
					<p class="recomendaciones"><a class="link-recomendacion" href="{{comic.get_absolute_url}}">{{ comic.nombreComic }}</a></p>
				{% endif %}
			{% endfor %}
			
			
		{% endblock barraDer %}
		</div>
	</div>

	<div id="content">
		{% block contenido %}
		{% for comic in object_list %}
			<div class="espacio">
				<h1>{{ comic.nombreComic }}</h1>
				<h3 class="color-rosa"> {% blocktrans %}Coleccion :{% endblocktrans %} {{ comic.coleccion.nombreColeccion}} </h3>
				<p><a href="{{comic.get_absolute_url}}"><img src="{% static 'img/comics/'|add:comic.nombreComic|add:'.png' %}" alt="{{ comic.nombreComic }}" class="responsive-img r_blog" /></a></p>
				<div class="texto">
					<p>{% blocktrans %}Categoria del Comic:{% endblocktrans %}</p>
					<ul>
						{% for tag in comic.coleccion.tags.all %}
						<li>{{tag.descripcion}}</li>
						{% endfor %}
					</ul>
					<p>{% blocktrans %}Autores:{% endblocktrans %}</p> 
					<ul>
						{% for autores in comic.coleccion.autores.all %}
						<li><a href="{{autores.get_absolute_url}}">{{autores.nombre}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endfor %}

		{% endblock contenido %}
	</div>
	<div id="footer">
		<div class="footer_links">
		<ul>
			<li class="top_link">{% blocktrans %}Hurto del css por:{% endblocktrans %}</li>
			<li><a>Ane Capdevila</a></li>
			<li><a>Mikel Fuentes</a></li>
			<li><a>Jon Díaz</a></li>
			<li><a>Álvaro de Toro</a></li>
		</ul>
		</div>
	</div>
</div>

</body>
</html>
