{% load static %}
<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html;" />
	<meta charset="UTF-8">
	<title>Libreria piratilla :3</title>
	<link rel="stylesheet" href="{% static 'default.css' %}" />
</head>

<body>
<div id="container">
	<div id="rightside">
		<div id="title">
		<p>NOMBRE</p>
		</div>
		<div id="sidebar">
		{% block barraDer %}
			<ul class="nav">
				<li><a class="selected" href="/appLibreria/comics/">Comics</a></li>
				<li><a href="/appLibreria/autores/">Autores</a></li>
				<li><a href="/appLibreria/colecciones/">Colecciones</a></li>
				<li><a href="/appLibreria/tags/">Categorias</a></li>
			</ul>
			<img src="img/star2.jpg" alt="star" style="display:none"/>
			<h1>recent updates</h1>
			<h3>last updated: 10/31/06</h3>
			
			<ul id="gallery">
				<li><a href="#"><b>First news item</b><br /><span class="spacer">&nbsp;</span><br />
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <i>Read More...</i></span></a></li>
			</ul>
			
			<h1>side item</h1>
			<h3>a note, form, or ad</h3>
			<p>This template is valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> 1.0 Strict and the <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> file validates as well. It has been released under the Creative Commons Attribution v2.5 license. If you use this template, please keep a link to me on the site. Thank you.</p>
		{% endblock barraDer %}
		</div>
	</div>

	<div id="content">
		{% block contenido %}
		{% for comic in object_list %}
			<div class="espacio">
				<h1>{{ comic.nombreComic }}</h1>
				<h3> Coleccion : {{ comic.coleccion.nombreColeccion}} </h3>
				<p><a href="{{comic.get_absolute_url}}"><img src="{% static 'img/comics/'|add:comic.nombreComic|add:'.png' %}" alt="{{ comic.nombreComic }}" class="responsive-img r_blog" /></a></p>
				<div class="texto">
					<p>Categoria del Comic:</p>
					<ul>
						{% for tag in comic.coleccion.tags.all %}
						<li>{{tag.descripcion}}</li>
						{% endfor %}
					</ul>
					<p>Autores:</p> 
					<ul>
						{% for autores in comic.coleccion.autores.all %}
						<li><a href="{{autores.get_absolute_url}}">{{autores.nombre}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endfor %}

		{% endblock contenido %}
	</div>
	<div id="footer">
		<div class="footer_links">
		<ul>
			<li class="top_link">Hurto del css por:</li>
			<li><a>Ane Capdevila</a></li>
			<li><a>Mikel Fuentes</a></li>
			<li><a>Jon Díaz</a></li>
			<li><a>Álvaro de Toro</a></li>
		</ul>
		</div>
	</div>
</div>

</body>
</html>
