
{% load static %}
<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html;" />
	<meta charset="UTF-8">
	<title>Libreria piratilla :3</title>
	<link rel="stylesheet" href="{% static 'css/default.css' %}" />
</head>

<body>
<div id="container">
	<div id="rightside">
		<div id="title">
		<p>CMD</p>
		</div>
		<div id="sidebar">
		{% block barraDer %}
			<ul class="nav">
				<li><a class="selected" href="/appLibreria/comics/">Comics</a></li>
				<li><a href="/appLibreria/autores/">Autores</a></li>
				<li><a href="/appLibreria/colecciones/">Colecciones</a></li>
				<li><a href="/appLibreria/tags/">Categorias</a></li>
			</ul>


			<h1>Comics Recomendados</h1>
			<h3>Lectura Ligeras:</h3>

			{% for comic in object_list %}
				{% if comic.numPaginas <= 10 %}
					<p class="recomendaciones"><a class="link-recomendacion" href="{{comic.get_absolute_url}}">{{ comic.nombreComic }}</a></p>
				{% endif %}
			{% endfor %}
			
			
		{% endblock barraDer %}
		</div>
	</div>

	<div id="content">
		{% block contenido %}
		{% for comic in object_list %}
			<div class="espacio">
				<h1>{{ comic.nombreComic }}</h1>
				<h3 class="color-rosa"> Coleccion : {{ comic.coleccion.nombreColeccion}} </h3>
				<p><a href="{{comic.get_absolute_url}}"><img src="{% static 'img/comics/'|add:comic.nombreComic|add:'.png' %}" alt="{{ comic.nombreComic }}" class="responsive-img r_blog" /></a></p>
				<div class="texto">
					<p>Categoria del Comic:</p>
					<ul>
						{% for tag in comic.coleccion.tags.all %}
						<li>{{tag.descripcion}}</li>
						{% endfor %}
					</ul>
					<p>Autores:</p> 
					<ul>
						{% for autores in comic.coleccion.autores.all %}
						<li><a href="{{autores.get_absolute_url}}">{{autores.nombre}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endfor %}

		{% endblock contenido %}
	</div>
	<div id="footer">
		<div class="footer_links">
		<ul>
			<li class="top_link">Hurto del css por:</li>
			<li><a>Ane Capdevila</a></li>
			<li><a>Mikel Fuentes</a></li>
			<li><a>Jon Díaz</a></li>
			<li><a>Álvaro de Toro</a></li>
		</ul>
		</div>
	</div>
</div>

</body>
</html>
