{% extends "baseIndividual.html" %}
{% load static %}
{% load range %}
<!--Bloques de la barra lateral:-->
{% block foto %} <!--Aquí va la foto del objeto que estemos viendo (autor, comic o coleccion)-->

<img src="{% static 'img/comics/'|add:objecto_comic.nombreComic|add:'.png' %}" alt="{{ objecto_comic.nombreComic }}" class="responsive-img r_blog"/>
{% endblock foto %}

{% block info %} <!--Aquí se pone la info de lo que corresponda-->
<h1>{{objecto_comic.nombreComic}}</h1>
<h3>Numero de paginas: {{objecto_comic.numPaginas}}</h3>
<p id="slide" hidden>{{objecto_comic.numPaginas}}</p>
<p id="actual-page">
    <select id="paginas" class="seleccion-formulario" onchange="updatePage()">
        {% for value in 0|range:objecto_comic.numPaginas %}
            {% if value == pagina %}
                <option value="{{value}}" selected>Pagina: {{value}}</option>
            {% else %}
                <option value="{{value}}">Pagina: {{value}}</option>
            {% endif %}
        {% endfor %}
    </select>
</p>
{% endblock info %}

{% block menu %}<!--Esto es el menú donde irán los links a las listas de los modelos, igual que en la página principal-->
{% endblock menu %}

{% block contenido %}<!--Lo de la "izquierda"-->

<p><img src="{% static 'img/comics/' %}{{objecto_comic.nombreComic}}/{{pagina}}.png" alt="{{pagina}}" class="img-gl" /></p>
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

{% endblock contenido %}