{% extends "index.html" %}
{% load static %}

{% block barraDer %}
<ul class="nav">
	<li><a href="/appLibreria/comics/">Comics</a></li>
	<li><a href="/appLibreria/autores/">Autores</a></li>
	<li><a href="/appLibreria/colecciones/">Colecciones</a></li>
	<li><a class="selected" href="/appLibreria/tags/">Categorias</a></li>
</ul>
<h1>Selecciona las categorias:</h1>
<h3>Próximamente con JS</h3>
<ul id="gallery">
	<li><a href="#"><b>First news item</b><br /><span class="spacer">&nbsp;</span><br />
	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <i>Read More...</i></span></a></li>
</ul> 
		

{% endblock barraDer %}

{% block contenido %}
	{% for tag in object_list %}
	<div class="espacio">
		<h1>{{ tag.descripcion }}</h1>
		<h3 class="color-rosa"> <br/>{% for coleccion in tag.coleccion_set.all %}</h3>
		<p><a href="{{coleccion.get_absolute_url}}"><img src="{% static 'img/colecciones/'|add:coleccion.nombreColeccion|add:'.png' %}" alt="{{ coleccion.nombreColeccion }}" class="responsive-img r_blog" /></a></p>
		{% endfor %}
	</div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	{% endfor %}
{% endblock contenido %}