{% extends "index.html" %}
{% load static %}

{% block barraDer %}
<ul class="nav">
	<li><a href="/appLibreria/comics/">Comics</a></li>
	<li><a href="/appLibreria/autores/">Autores</a></li>
	<li><a href="/appLibreria/colecciones/">Colecciones</a></li>
	<li><a class="selected" href="/appLibreria/tags/">Categorias</a></li>
</ul>
<h1>Selecciona las categorias:</h1>
<br>
<form id="form_categorias">		
	{% for tag in object_list %}
		<label>{{ tag.descripcion }}</label>							
		<input type="checkbox" name="{{ tag.descripcion }}"  value="{{tag.descripcion}}" onclick="updateResult()"><br>
	{% endfor %}
	<button id="enviar" onclick="restart()" hidden >Vaciar</button>						
</form>  	

{% endblock barraDer %}

{% block contenido %}
	{% for tag in object_list %}
	<div class="espacio hide" id="{{tag.descripcion}}">
		<h1>{{ tag.descripcion }}</h1>
		<h3 class="color-rosa"> <br/>{% for coleccion in tag.coleccion_set.all %}</h3>
		<p><a href="{{coleccion.get_absolute_url}}"><img src="{% static 'img/colecciones/'|add:coleccion.nombreColeccion|add:'.png' %}" alt="{{ coleccion.nombreColeccion }}" class="responsive-img l_blog" /></a></p>
		{% endfor %}
	</div>
	{% endfor %}

	{% for tag in object_list %}
		{% for tag_1 in object_list %}
		<div class="espacio hide" id="{{tag.descripcion}}{{tag_1.descripcion}}">
			<h1>{{ tag.descripcion }} Y {{tag_1.descripcion}}</h1>
			<h3 class="color-rosa"> <br/></h3>
			{% for coleccion in tag.coleccion_set.all %}
				{% for coleccion_1 in tag_1.coleccion_set.all %}
					{% if coleccion_1 == coleccion %}
					<p><a href="{{coleccion.get_absolute_url}}"><img src="{% static 'img/colecciones/'|add:coleccion.nombreColeccion|add:'.png' %}" alt="{{ coleccion.nombreColeccion }}" class="responsive-img l_blog" /></a></p>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
		{% endfor %}
	{% endfor %}
	
{% endblock contenido %}